.allProjects .title h1{
    text-align: center;
    
}
.allProjects .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.allProjects .title .bar{
    height: 4px;
    width: 80px;
    border-radius: 10px;
    background: var(--under-line);
    margin-bottom: 30px;
    margin-top: 5px;
}

/* card */
.projects-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}
.card{
    background: var(--box-clr);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    transition: all 0.3s linear;
}
.card:hover{
    transform: translateY(-3px);
}
.card .card-image{
    width: 100%;
    height: 100%;
}
.card .card-image img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: top;
}
.card .card-title h4{
    text-transform: capitalize;
    font-size: 26px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--nav-primary-clr);
}
.card:hover .card-title h4{
    color: var(--under-line);
}
.card .card-tech{
    padding: 8px;
    margin: 8px;
}
.card .card-tech span{
    background-color: var(--nav-logo);
    color: var(--nav-primary-clr);
    margin: 8px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    letter-spacing: 0.2em;
    border-radius: 2em;
    text-transform: capitalize; 
}
.card:hover span{
    color: dodgerblue;
}
.links-ul{
    width: 100%;
    margin-top: 5px;
}
.links-ul ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 5px;
}
.links-ul li{
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}
.li-link{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.li-link a{
    color: var(--primary-white);
    text-decoration: none;
    font-size: 18px;
}
.li-link .lik{
    display: flex;
}
.lik a:hover{
    transition: all 0.3s linear;
    color: var(--under-line);
}
@media screen and (min-width: 690px) {
    /* .projects-container{
        display: grid;
    grid-template-columns: 1fr 1fr;
    } */
}
@media screen and (min-width: 1080px) {
    /* .projects-container{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    } */
}