.project-card{
    background-color: rgb(30, 29, 28);
    height: 500px;
    border-radius: 12px;
    margin-bottom: 50px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: 0.2s linear;
    animation: apear linear;
    transform-origin: center;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    margin-top: 55px;
    z-index: 1;
    cursor: pointer;
    
}
.project-cards{
    
    margin-top: 100px;
    margin-bottom: 220px;
}
.project-card:hover{
    
    box-shadow: 0px 0px 50px -0px rgb(58, 59, 59);
}
/* card */
.card-top{
    display: flex;
    justify-content: space-between;
    
    /* border: 1px solid; */
    padding: 30px;
    margin: 10px;
    color: #979797;
}
.card-top-title p{
    font-size: 16px;
    text-transform: capitalize;
}
.card-bottom{
    display: flex;
    
    align-items: center;
    height: 83.7%;
}
.card-bottom-details{
    position: relative;
    width: 400px;
    left: 50px;
    top: -70px;
}
.card-bottom-img{
    width: 45%;
    height: 380px;
    border-top-right-radius: 10px;
}
.card-bottom-img img{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.card-bottom-tag p{
    color: #F2F2F2;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 5px;
}
.card-bottom-discription p{
    text-transform: capitalize;
    color: #979797;
    font-size: 20px;
}
.projects-heading p{
    text-align: center;
    transition: 0.2s linear;
    animation: apear linear;
    transform-origin: center;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    font-size: 50px;
}

@keyframes apear{
    from{
        opacity: 0;
        /* scale: 0.1; */
        /* transform: scaleY(0.3); */
        transform: scale(0.1);
    }
    to{
        opacity: 1;
        /* scale: 1; */
        /* transform: scaleY(1); */
        transform: scale(1);
    }
}
@media screen and (max-width: 350px){
    .projects-heading{
        color: red;
        margin: 50px;
        border: 1px solid;
    }
    
}
@media screen and (max-width: 670px){
    .card-bottom-discription p{
        font-size: 12px;
    }
    .card-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .projects-heading p{
        font-size: 30px;
        margin-top: -150px;
    }
    .card-bottom-img{
        width: 75%;
    }
    .card-bottom-img img{
        height: 300px;
        border-radius: 30px;
    }
    .card-bottom-details{
        width: 100%;
        top: -10px;
        left: -0.2px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        text-align: center;
    }
    .card-bottom-tag p{
        font-size: 22px;
    }
    
    
}

@media screen and (max-width: 600px){
    .project-cards{
        margin-top: 280px;
        margin-bottom: 220px;
    }
    
}

