/* .about-box{
    height: 100%;
}

.about-container{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-right .about-img{
    
    width: 100%;
}
.about-right .about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
} */
/* .about-left{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    animation: sideleft 0.8s ease-out forwards;
    opacity: 0;
}
.about-right{
    animation: sideright 0.8s ease-out forwards;
    opacity: 0;
} */
.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.tools .bar{
    height: 4px;
    width: 80px;
    border-radius: 10px;
    background: dodgerblue;
    margin-bottom: 30px;
    margin-top: 5px;

}
/* height: 400px;
    width: 350px; */
@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes scrolltwo{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
@keyframes sideleft{
    from {
        transform: translateX(-100px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
}
@keyframes sideright{
    from {
        transform: translateX(200px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
}
.about-box{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-container{

    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}
.about-right{
    aspect-ratio: 355/350;
    position: relative;
    overflow: hidden;
}
.about-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.about-img img{
    border-radius: 30px;
    object-position: center;
    width: 100%;
}
.about-left-hello h1{
    font-size: 55px;
    color: var(--hero-clor);
}
.about-left-disc h2{
    font-size: 40px;
}
.about-left-disc p{
    font-size: 16px;
    color: var(--disc-clr);
    letter-spacing: 1px;
    line-height: 22px;
}
@media screen and (min-width: 600px){
    /* .about-container{
        border: 1px solid;
    } */
    .about-img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    .about-left-hello h1{
        font-size: 45px;
        color: var(--hero-clor);
    }
    .about-left-disc h2{
        font-size: 25px;
    }
    .about-left-disc p{
        font-size: 14px;
    }
    .about-img img{
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .about-right{
        aspect-ratio: 150/150;
        position: relative;
        overflow: hidden;
        flex: 0 0 calc(50% - 30px);
    }
    .about-left-disc{
        flex: 0 0 calc(50% - 30px);
    }
    .about-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
@media screen and (min-width: 790px) {
    .about-right{
        aspect-ratio: 355/400;
        position: relative;
        overflow: hidden;
        flex: 0 0 calc(50% - 30px);
    }
    .about-img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    .about-img img{
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .about-left-hello h1{
        font-size: 65px;
        color: var(--hero-clor);
    }
    .about-left-disc h2{
        font-size: 55px;
    }
    .about-left-disc{
        flex: 0 0 calc(50% - 30px);
    }
    .about-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

