.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.tools .bar{
    height: 4px;
    width: 80px;
    border-radius: 10px;
    background: dodgerblue;
    margin-bottom: 30px;
    margin-top: 5px;
}
.about-container{
    padding: 20px;
    background: var(--box-clr);
    border-radius: 28px;
    border: var(--box-border-clr);
}
@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes scrolltwo{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
@keyframes sideleft{
    from {
        transform: translateX(-100px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
}
@keyframes sideright{
    from {
        transform: translateX(200px);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.title .bar{
    height: 4px;
    width: 80px;
    border-radius: 10px;
    background: dodgerblue;
    margin-bottom: 30px;
    margin-top: 5px;
}
.about-right{
    display: none;
}
.about-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about-left h1{
    color: var(--under-line);
    font-size: 35px;
    letter-spacing: 1px;
}
.about-left p{
    color: var(--disc-clr);
    letter-spacing: 1px;
    line-height: 28px;
}
@media screen and (min-width: 1050px) {
    .about-right{
        display: block;
        flex: 0 0 calc(50% - 30px);
    }
    .about-left{
        flex: 0 0 calc(50% - 30px);
    }
    .about-container{
        display: flex;
        justify-content: space-around;
    }
    .about-img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        aspect-ratio: 355/350;
    }
    .about-img img{
        width: 100%;
    }
    .about-left h1 {
        font-size: 55px;
    }
    .about-left p {
        font-size: 19px;
    }
}